html{
    background: linear-gradient(to right, lightGreen, lightblue);
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#display-container{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

#title{
    color: black;
    background-color: white;

    border-radius: 15px;
    width: 500px;
}

#title h1{
    margin-left: 15px;
}

#search-bar{
    display: flex;
    flex-direction: row;
    background-color: white;

    width: 500px;
    height: 30px;
    border-radius: 15px;
    justify-content: center;

    padding: 15px 0px 0px 0px;
    /* margin: 15px; */
}

#insert-to-do-item{
    width: 75%;
    border-radius: 5px;
}

#add-item-btn{
    width: 15%;
    margin: 0px 0px 0px 15px;

    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 18px;
}

#list-container{
    background-color: white;
    width: 500px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

#to-do-list{
    list-style: none;   
    padding: 0;
}

.list-item{
    background-color: rgba(0, 0, 0, 0.048);
    padding: 5px;
    margin: 15px;

    border-radius: 5px;
}

.list-item:hover{
    background-color: rgba(0, 0, 0, 0.082);
}

#display-list{
    width: 100%;
}  